asgiref==3.4.1
autopep8==1.5.7
backports.entry-points-selectable==1.1.0
distlib==0.3.2
Django==3.2.6
filelock==3.0.12
numpy==1.21.3
Pillow==8.3.2
platformdirs==2.3.0
psycopg2-binary==2.9.1
pycodestyle==2.7.0
PyOpenGL @ file:///C:/Users/Devaprasad%20N%20M/Downloads/PyOpenGL-3.1.5-cp39-cp39-win_amd64.whl
PyOpenGL-accelerate @ file:///C:/Users/Devaprasad%20N%20M/Downloads/PyOpenGL_accelerate-3.1.5-cp39-cp39-win_amd64.whl
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.8.0
virtualenvwrapper-win==1.2.6
