{% extends 'adminside/base.html' %}
{% block content %}
  <div class="container pt-5 ">
    <div class="container col-6 ">
      <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" value="{{name}}" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input  name="desc" class="form-control" value="{{desc}}" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1 w-6" class="form-label">Price</label>
            <input type="number" name="price" class="form-control" value="{{price}}">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1 w-6" class="form-label">Image</label>
            <input type="file" name="img" class="form-control">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Offers</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="offers">
              <option selected>Choose...</option>
              <option value="True">True</option>
              <option value="False">False</option>
            </select><br>

            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Categories</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="category">
              <option selected>Choose...</option>
              {%for category in categories %}
              <option value="{{category.category_name}}">{{category.category_name}}</option>
              {% endfor %}
            </select>


          </div>

        <br>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="/mainuser/display" class="btn btn-primary">Back</a>
        </form>
        
  </div>
  </div>
  {% endblock %}